<template>
  <section class="centered">
    <h1>About Page</h1>
  </section>
</template>

<script>
export default {
  name: 'AppAbout',
};
</script>

<style scoped>
  .centered {
    text-align: center;
  }
</style>
