<template>
  <v-app-bar
    app
    color="primary"
    dark
  >
    <v-app-bar-nav-icon
      @click="handleNavIconClick"
    />

    <v-toolbar-title>Page title</v-toolbar-title>
    <v-spacer />

    <v-btn
      exact
      text
      :to="{ name: 'Home' }"
    >
      Home
    </v-btn>
    <v-btn
      exact
      text
      :to="{ name: 'About' }"
    >
      About
    </v-btn>
  </v-app-bar>
</template>

<script>
import { EventBus } from '@/plugins/eventBus';

export default {
  name: 'AppHeader',
  methods: {
    handleNavIconClick() {
      EventBus.$emit('toggle-nav-drawer');
    },
  },
};
</script>

<style scoped>

</style>
