<template>
  <v-app>
    <AppHeader />
    <AppDrawer v-if="!$route.meta.nawDrawerDisabled" />
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import AppHeader from '@/components/AppHeader';
import AppDrawer from '@/components/AppDrawer';

export default {
  name: 'App',

  components: {
    AppHeader,
    AppDrawer,
  },

  data: () => ({
    //
  }),
};
</script>
